@import '../../../scss/base/variables';

.wt-loading {
    background: rgba($color-background-dark, .5);
    color: $color-foreground-bright;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;

    &.is-hidden {
        display: none;
    }
}
