@import 'variables';
@import 'mixins/offsets';

@include generate-offsets(margin, m, 100);
@include generate-offsets(padding, p, 100);

.u {
    &-underline {
        text-decoration: underline;
    }

    &-upper {
        text-transform: uppercase;
    }

    &-big {
        font-size: $font-size-xl;
    }
}
