@import '../../scss/base/variables';
$basket: #736855;
$balloonRope: rgba(#000, .4);
$balloonColor1: #d7608d;
$balloonColor2: #ffffff;

.wt-interfaces .hot-air-balloon {
  animation: balloon infinite 3s 0.5s;
  left: 50%;
  position: absolute;
  top: 50%;

  .balloon {
    background: $balloonColor1;
    border: 3px solid $balloonRope;
    border-radius: 3px;
    height: 12px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    top: -42px;
    width: 70px;

    &:before {
      background: $balloonColor1;
      border: 3px solid $balloonRope;
      border-radius: 50%;
      bottom: 26px;
      content: "";
      height: 160px;
      left: 50%;
      margin-left: -73px;
      position: absolute;
      width: 140px;
    }

    &:after {
      background: $balloonColor1;
      border: 3px solid $balloonRope;
      border-top: 0;
      bottom: 4px;
      content: "";
      height: 49px;
      left: 50%;
      margin-left: -43px;
      position: absolute;
      transform: perspective(70px) rotateX(-40deg);
      width: 80px;
    }

    span {
      background: $balloonColor2;
      border: 3px solid $balloonRope;
      border-radius: 50%;
      bottom: 12px;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
      display: block;
      height: 174px;
      left: 50%;
      margin-left: -45px;
      position: absolute;
      width: 84px;
      z-index: 2;

      &:after {
        background: $balloonColor1;
        border: 3px solid $balloonRope;
        border-radius: 50%;
        bottom: -3px;
        content: "";
        display: block;
        height: 174px;
        left: 50%;
        margin-left: -17px;
        position: absolute;
        width: 28px;
        z-index: 2;
      }
    }
  }

  .basket {
    background: $basket;
    border: 3px solid $balloonRope;
    border-radius: 3px;
    box-shadow: 0 2px 4px transparentize($balloonRope, 0.6);
    color: #FFF;
    height: 20px;
    margin-top: -15px;
    position: relative;
    width: 20px;

    &:before {
      background: $basket;
      border: 3px solid $balloonRope;
      border-radius: 3px;
      content: "";
      height: 6px;
      left: -8px;
      position: absolute;
      top: -6px;
      width: 30px;
    }

    &:after {
      border: 2px solid $balloonRope;
      content: "";
      height: 20px;
      left: -2px;
      position: absolute;
      top: -21px;
      transform: perspective(50px) rotateX(-40deg);
      width: 20px;
    }
  }
}

@keyframes balloon {
  0%, 100% {
    transform: translateY(0);
  }


  50% {
    transform: translateY(-10px);
  }
}